<p>
    In general, all the plugins should work well together, here is comparison table for more detailed info:
</p>

<table class="table">
    <thead>
        <th scope="col">
            Name
        </th>
        <th scope="col">
            Description
        </th>
        <th scope="col">
            Safe?
        </th>
        <th scope="col">
            Notes
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="https://plugins.jetbrains.com/plugin/9397-aem-tools">
                    {{ site.data.common.pluginName }}
                </a>
            </td>
            <td>
                General Purpose AEM plugin
            </td>
            <td>
                <span>Y</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="https://plugins.jetbrains.com/plugin/9563-aem-ide-tooling-4-intellij">
                    AEM IDE Tooling4 IntelliJ
                </a>
            </td>
            <td>
                General Purpose AEM plugin
            </td>
            <td>
                <span>Y</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="https://plugins.jetbrains.com/plugin/9269-aem-intellij-plugin">
                    AEM Intellij Plugin
                </a>
            </td>
            <td>
                General Purpose AEM Plugin
            </td>
            <td>
                <span>N</span>
            </td>
            <td>
                It has it's own HTL support which may not coexist with the one provided by {{common.pluginName}}
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://plugins.jetbrains.com/plugin/9863-aem-support">
                    AEM Support
                </a>
            </td>
            <td>General Purpose AEM Plugin</td>
            <td>
                <span>Y/N</span>
            </td>
            <td>
                Some features may overlap (OSGi gutters)
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://plugins.jetbrains.com/plugin/8639-intellij-shortcuts-for-aem">
                    IntelliJ Shortcuts For AEM
                </a>
            </td>
            <td>
                Several shortcuts for AEM specific files
            </td>
            <td><span>Y</span></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="https://plugins.jetbrains.com/plugin/7328-intellivault">
                    IntelliVault
                </a>
            </td>
            <td>
                Provides Vault Integration
            </td>
            <td><span>Y</span></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="https://plugins.jetbrains.com/plugin/7392-jcr-content-editor">
                    JCR Content Editor
                </a>
            </td>
            <td>
                JCR Utilities
            </td>
            <td><span>Y</span></td>
            <td></td>
        </tr>
    </tbody>
</table>