<h4>Credits:</h4>

<ul>
    <li>
        <a href="https://github.com/deeprim">
            <i class="fa fa-github"></i>
            Dmytro Primshyts <span class="text-muted">owner</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/dmitry-cherkas">
            <i class="fa fa-github"></i>
            Dmitry Cherkas <span class="text-muted">contributor</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/dlyahov">
            <i class="fa fa-github"></i>
            dlyhov <span class="text-muted">contributor</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/megopalec3">
            <i class="fa fa-github"></i>
            megopalec3 <span class="text-muted">contributor</span>
        </a>
    </li>
</ul>