#### Credits:

<ul>
    <li>
        <a href="https://github.com/DmytroTroynikov">
            <i class="fa fa-github"></i>
            Dmytro Troynikov <span>owner</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/dmitry-cherkas">
            <i class="fa fa-github"></i>
            Dmitry Cherkas <span>contributor</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/dlyahov">
            <i class="fa fa-github"></i>
            dlyhov <span>contributor</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/megopalec3">
            <i class="fa fa-github"></i>
            megopalec3 <span>contributor</span>
        </a>
    </li>
</ul>