---
---

// @import "_variables";
// @import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap";

body {
    padding-top: 120px;
}

#title {
    overflow: auto;
}

.credits.left {
    display: block;
    float: left;
}

.credits.right {
    display: block;
    float: right;
}

.collapse-btn {
    color: #bababa;
}

[aria-expanded="false"] > .collapse-btn:after {
    content: '⇨';
}

[aria-expanded="true"] > .collapse-btn:after {
    content: '⇩'
}