<h4>
  <a href="https://github.com/aemtools/aemtools/releases/tag/v0.9">Version v0.9</a>
</h4>
<h5>New features:</h5>
<ul id="changelog-accordion" role="tablist">
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/148">
      Inspections: AEM-1 &amp; AEM-2
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/150">
      Inspections: Unnecessary expression
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/104">
      IDE: Resolve OSGi properties
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/125">
      IDE: "Associated OSGi service" gutter icon in OSGi configuration files
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/107">
      HTL: data-sly-attrigbute with `style` and `on*` attributes inspection &amp; fix
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/149">
      HTL: Highlight escape sequences in string literals
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/134">
      IDE: HTML Markup Language Color Settings Page
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/126">
      HTL: Add special highlighting for template parameters
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/124">
      AEM General: advising x-cq-linkchecker attribute for 'a' HTML tag
    </a>
  </li>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/153">
      HTL: "Wrong quotes" annotation &amp; quick fix
    </a>
  </li>
</ul>

<h5>Bug fixes:</h5>

<ul>
  <li>
    <a href="https://github.com/aemtools/aemtools/issues/147">
      HTL Syntax is highlighted inside commented-out code
    </a>
  </li>

  <li>
    <a href="https://github.com/aemtools/aemtools/issues/130">
      HTL: Logical operation is not parsed in options
    </a>
  </li>

  <li>
    <a href="https://github.com/aemtools/aemtools/issues/127">
      HTL: data-sly-use with parameters breaks type resolution
    </a>
  </li>
</ul>