<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"> {% seo %}
    <link rel="stylesheet" href="/assets/main.css">
    <!--<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="http://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>

    <!-- start header -->
    <nav class="navbar navbar-toggleable-md fixed-top navbar-dark bg-dark navbar-expand-lg">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="navbar-brand">AEM Tools</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documentation.html">
                        Docs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq.html">
                        FAQ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/aemtools/aemtools">
                        View On GitHub
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end header -->


    <div class="container container-fluid">
        <div class="row">
            <!-- <section class="col-2">
                <nav>Menu
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </section> -->
            <section class="col-12 col-md-12 col-xl-12">
                <div id="title" class="text-center">
                    <h1>{{ site.title | default: site.github.repository_name }}</h1>
                    <p>{{ site.description | default: site.github.project_tagline }}</p>
                    <hr>
                    <span class="credits left">
                        Project maintained by
                        <a href="https://github.com/deeprim">Dmytro Primshyts</a>
                    </span>
                    <span class="credits right">
                        Hosted on GitHub Pages
                    </span>
                </div>
                {{ content }}
            </section>

            <!-- <section class="col-2">
                {{ right-menu }}
            </section> -->
        </div>
    </div>

    <footer class="container">
        <div class="row justify-content-end">
            <div class="col-10">
                Content of current site is under of terms of
                <a href="https://github.com/aemtools/aemtools/blob/develop/LICENSE">GNU General Public License v3.0</a>.
            </div>
        </div>
    </footer>

    <script src="/assets/vendor/jquery.min.js"></script>
    <script src="/assets/vendor/tether.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    <script src="http://vjs.zencdn.net/6.2.7/video.js"></script>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
</body>

</html>